.PotentialFriendsList-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .PotentialFriendsList-main > i {
    cursor: pointer;
    margin: 10px;
    color: #aaa;
  }
  
  .PotentialFriendsList-main > i.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .PotentialFriendsList-main > i:hover {
    color: black;
  }